@import '../base.css';

:root {
  --border: 1px solid #eee;
}

.feed {
  width: 100%; 
}

.feed > * {
  border: var(--border);
  border-top: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

#home {
  padding: 15px;
}
