@import '../base.css';

:root {
  --border: 1px solid #eee;
}

.feed {
  width: 100%; 
}

@media only screen and (min-width: 768px) {
  .feed {
    width: 600px;
    margin-left: 130px; 
  }
}

@media only screen and (min-width: 992px) {
  .feed {
    width: 600px;
    margin-left: var(--navbar-width);
  }
}

.feed > * {
  border: var(--border);
  border-top: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

#home {
  padding: 15px;
}
