@import '../base.css';

:root {
  --border: 1px solid #eee;
}

@media only screen and (max-width: 768px) {
  .home__main header a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .home__main header a {
    display: none;
  }
}

.home__main {
  width: 100%; 
}

@media only screen and (min-width: 768px) {
  .home__main {
    width: 600px;
    margin-left: 130px; 
  }
}

@media only screen and (min-width: 992px) {
  .home__main {
    width: 600px;
    margin-left: 318px; 
  }
}

.home__main > * {
  border: var(--border);
  border-top: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

#home {
  padding: 15px;
}
