.navbar {
  width: var(--navbar-width);
  position: fixed;
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}

.navbar div {
  margin-left: 35px;
}

.twitter__logo svg {
  height: 30px;
}
