.navbar {
  position: fixed;
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .navbar div {
    margin-left: 35px;
  }

  .twitter__logo svg {
    height: 30px;
  }

  .navbar a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
}
