@import '../base.css';

:root {
  --border: 1px solid #eee;
}

.user-page__main {
  width: 100%; 
}

@media only screen and (min-width: 768px) {
  .user-page__main {
    width: 600px;
    margin-left: 130px; 
  }
}

@media only screen and (min-width: 992px) {
  .user-page__main {
    width: 600px;
    margin-left: 318px; 
  }
}

.user-page__main > * {
  border: var(--border);
  border-top: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

#home {
  padding: 15px;
}
