textarea {
	resize: none;
	width: 100%;
	border: none;
}

textarea:focus {
	outline: none;
}

button {
	background-color: #1DA1F2;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	padding: 11px 15px;
}
