.whats-happening {
  display: flex;
}

.whats-happening .user__photo {
  margin-left: 17px;
  margin-top: 7px;
}

.whats-happening form {
  width: 100%;
  margin-right: 15px;
}
  
.whats-happening form div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whats-happening .tool-bar svg {
  height: 20px;
  fill: rgb(29, 155, 240);
  margin-right: 15px;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  margin-top: 20px;
}

textarea:focus {
  outline: none;
}

button {
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 9px 15px;
  margin: 7px;
}
